body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: linear-gradient(-45deg, #52eed4, #0d3082, #0904a1, #5005ac);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

.sign-up-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #000000;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.signin-link {
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

.signin-link a {
    color: #4CAF50;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}
